.App {
  
}

.App-header {
  background-color: #fef9f3;
  min-height: 60vh;
  display: grid;
  grid-template-columns: 1fr 70vw 1fr;
  grid-template-rows:  15rem 3rem 2rem 1fr;
  grid-template-areas:
    " . . ."
    " . header-logo . "
    " . header-tagline . "
    " . header-menu . ";
}

.App-logo {
  width: 10rem;
  height: auto;
  grid-area: header-logo;
  text-decoration: none;
  border: 0;
}

.App-tagline {
  grid-area: header-tagline;
  font-size: 1.1rem;
  letter-spacing: 0.22rem;
  /*text-align: center;
  text-decoration: overline;
  margin-top: 0.7rem;*/
}

.App-menu {
  grid-area: header-menu;
  margin-top: 1rem;
  text-transform: uppercase;
  color: #1d1e21;
}

.App-menu li {
  margin-right: 1rem;
  font-size: 1.1rem;
}

.App-menu a {
  text-decoration: none;
  border: 0;
}

.showcase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:  space-between;
}

.showcase-element {
  background-color: green;
  width: 33%;
  margin-bottom: 1rem;
}

.showcase-element:first-child {
  background-color: red;
  width: 66%;
}

.showcase-element-photo {
  display: flex;
  flex-direction: column-reverse;
}

.showcase-element-photo span {
  padding: 1rem 1rem;
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  background: rgba(0, 0, 0, 0.2);
}

.align-right {
  float: right;
}

.align-left {
  float: left;
}

.full-width-photo {
  width: 100%;
  height: 50vw;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.half-width-photo {
  width: 50%;
  height: 30vw;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 1rem 1.5rem;
}

.no-tracking-notice {
  font-size: 1.2rem;
  padding: 1rem;
  background-color: #fef9f3;
  border-left: 0.2rem solid #c5b7a6;
}

.not-ready-yet-notice {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding: 5rem 0;
}

.page-abstract {
  padding: 1rem 3rem;
  border-top: 1px solid #1d1e21;
  border-bottom: 1px solid #1d1e21;
  margin-top: 3rem;
  margin-bottom: 2rem;
  background-color: #fef9f3;
}

.quote {
  padding: 1rem 0 0 10rem;
  font-family: 'Caveat', cursive;
  position: relative;
  font-size: 1.9rem;
}

.quote:before {
  content: "“";
  font-size: 8rem;
  color: rgb(130 130 130);
  /* line-height: 0.1rem; */
  position: absolute;
  display: inline-block;
  /* top: 4.4rem; */
  left: -1rem;
}

.quote:after {
  content: "";
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.photo-gallery-item {
  width: auto;
  height: 20vw;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.photo-gallery a {
  border: 0;
}

@media all and (min-width: 1399px) {
  .full-width-photo {
    height: 40vw;
  }
}


@media all and (max-width: 500px) {
  .App-header {
    min-height: 0;
    grid-template-columns: 1fr 10rem 1fr;
    grid-template-rows: 14rem 3rem 4.5rem 4rem;
    grid-template-areas:
      " . . ."
      " . header-logo . "
      " . header-tagline . "
      "header-menu header-menu header-menu";
  }

  .App-menu {
    margin: 1rem auto;
  }

  .full-width-photo,
  .half-width-photo {
    width: auto;
    min-height: 80vw;
    margin: 0 auto;
    float: none;
  }

  .quote {
    padding: 0.5rem 0 0 5rem;
    font-size: 1.7rem;
  }

  .photo-gallery {
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .photo-gallery-item {
    width: auto;
    height: 80vw;
  }
}

.highlight {
  font-size: 1.3rem;
  background-color: #ffffd5;
  padding: 1rem;
  border-left: 3px solid #efefa9;
  clear: both;
}

@media all and (min-width: 599px) {
  
}


@media all and (min-width: 799px) {
  
}

@media all and (max-width: 800px) {
  .showcase {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .showcase-element,
  .showcase-element:first-child {
    width: 100%;
  }
}

@media all and (min-width: 1399px) {
  
}